node_modules/
.DS_Store
*/.DS_Store
*/*/.DS_Store
dist/
.shadow-cljs/
.clj-kondo/
.calva/

# Shadow-cljs build output
public/js/compiled/
public/js/cljs-runtime/

# Compiled classes
classes/

# Shadow-cljs config file cache
.shadow-cljs/

