node_modules/
.DS_Store
*/.DS_Store
*/*/.DS_Store
dist/
.shadow-cljs/
.clj-kondo/
.calva/
.lsp/

# Shadow-cljs build output
public/js/compiled/
public/js/cljs-runtime/
public/js/
public/*.map

# Compiled classes
classes/

# Shadow-cljs config file cache
.shadow-cljs/



