node_modules/
.DS_Store
*/.DS_Store
*/*/.DS_Store
dist/
.shadow-cljs/
.clj-kondo/


# Shadow-cljs build output
public/js/compiled/

# Compiled classes
classes/

# Shadow-cljs config file cache
.shadow-cljs/